﻿@page
@model SmarteLicense.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Client</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Client.ID" />
            <div class="form-group">
                <label asp-for="Client.Name" class="control-label"></label>
                <input asp-for="Client.Name" class="form-control" />
                <span asp-validation-for="Client.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.Key" class="control-label"></label>
                <input asp-for="Client.Key" class="form-control" />
                <span asp-validation-for="Client.Key" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.ExpiryDate" class="control-label"></label>
                <input asp-for="Client.ExpiryDate" class="form-control" />
                <span asp-validation-for="Client.ExpiryDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Client.Revoked" /> @Html.DisplayNameFor(model => model.Client.Revoked)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Client.MaxConnections" class="control-label"></label>
                <input asp-for="Client.MaxConnections" class="form-control" />
                <span asp-validation-for="Client.MaxConnections" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
