﻿@page
@model SmarteLicense.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Clients Manager</h1>
<hr />
<p>
    A client is an application that can be issued a key.
    The client can then use the verification endpoint to check the validity of the key.
    Note the client is also required to send this user's email, to prevent verification against 
    other users' keys.
</p>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Client[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client[0].Key)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client[0].ExpiryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client[0].Revoked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client[0].MaxConnections)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Client) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Key)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Revoked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxConnections)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
