﻿@page
@model SmarteLicense.VerifyModel

@{
    ViewData["Title"] = "Verification API";
}

<h1>Verification success</h1>

<div>
    <h4>Client key is current and valid</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Key)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Key)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.ExpiryDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.ExpiryDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Revoked)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Revoked)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.User.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.MaxConnections)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.MaxConnections)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Client.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
