﻿@page
@{
    ViewData["Title"] = "Index";
}

<h1>The Verification API</h1>

<hr />

<p>
    The verification API handles verfying keys for clients.

    <ul class="list-unstyled">
        <li>The API accepts the follwing GET parameters
            <ul>
                <li><code>email</code> - the issuing user's email;</li>
                <li><code>key</code> - the client's key</li>
            </ul>
        </li>
        <li>
            It will return a <code>200 OK</code> code if
            <ul>
                <li>the key is registered;</li>
                <li>has not expired;</li>
                <li>and has not been revoked</li>
            </ul>
        </li>
        <li>Otherwise it will return a <code>401 UNAUTHORIZED</code>.</li>
    </ul>

    Get started here: <a class="nav-link text-dark" href="/Clients/Verify?email=@User.Identity.Name&key=ADD_KEY_HERE">
    <code>/Clients/Verify</code><br />
    &nbsp; &nbsp; &nbsp;<code>?email=@User.Identity.Name</code><br />
    &nbsp; &nbsp; &nbsp;<code>&key=ADD_KEY_HERE</code>
</a>
</p>

