﻿@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>

Your email has been confirmed.

<partial name="_StatusMessage" model="Model.StatusMessage" />