﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="container">
        <h3 class="display-4">Welcome to Smarte License</h3>
        <div class="row">
            <div class="col-sm-8">
                <div class="">
                    <p>
                        Smarte License works by associating keys (for example a hardware ID)
                        to user accounts registered on this site. It allows for multiple licenees and licensors.
                    </p>
                    <p>
                        A client is an application that can be issued a key.
                        The client can then use the verification endpoint to check the validity of the key.
                        Note the client is also required to send the user's email, to prevent verification against
                        other users' keys.
                    </p>
                    <p>
                        To support multiple licensees, any user on this server can issue and track their own private
                        collection of keys.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
    </div>

